version: "3"

services:
  app:
    container_name: chat-app
    image: registry.rezerbit.com/chat/develop/app
    build:
      context: ../
      dockerfile: ./docker/app/Dockerfile
    working_dir: /app
    environment:
      RAILS_ENV: development
      NODE_ENV: development
    command: /bin/sh -c "while true; do sleep 30; done"
    volumes:
      - app:/app
    depends_on:
      - db

  web:
    container_name: chat-web
    image: registry.rezerbit.com/chat/develop/app
    build:
      context: ../
      dockerfile: ./docker/app/Dockerfile
    working_dir: /app
    environment:
      RAILS_ENV: development
      NODE_ENV: development
      WEBPACKER_DEV_SERVER_HOST: webpack_dev_server
    command: 'bash -c "rm -f /var/run/rails.pid && bundle exec rails s -b 0.0.0.0 -p 80 --pid /var/run/rails.pid"'
    volumes:
      - app:/app
    ports:
      - 80:80
    depends_on:
      - db
      - app
      - webpack_dev_server

  webpack_dev_server:
    container_name: chat-webpack_dev_server
    image: registry.rezerbit.com/chat/app
    build:
      context: ../
      dockerfile: ./docker/app/Dockerfile
    working_dir: /app
    environment:
      RAILS_ENV: development
      NODE_ENV: development
      WEBPACKER_DEV_SERVER_HOST: 0.0.0.0
    command: 'bash -c "bin/webpack-dev-server"'
    volumes:
      - app:/app
    ports:
      - 3035:3035
    depends_on:
      - db
      - app

  db:
    container_name: chat-db
    image: postgres:11
    environment:
      POSTGRES_USER: $POSTGRES_USER
    ports:
      - 5432:5432
    volumes:
      - pg-data:/var/lib/postgresql/data

  redis:
    image: redis:4-alpine
    ports:
      - 6379:6379
    volumes:
      - redis-data:/data

volumes:
  app:
    driver: local
    driver_opts:
      type: nfs
      o: addr=192.168.64.1,rw,nolock,hard,nointr,nfsvers=3
      device: ":${PWD}/"
  pg-data:
  redis-data:
